# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
.Rproj.user
.Rhistory
.RData
# Useless data
data_2023/simulated_data/
data_2023/cleaning_Xenarthra/
data_2023/Noto_hypso/
data_2023/1-fragmentation_cenozoic_500ky_step.txt
data_2023/extant_mammals.csv
data_2023/raw_taxo.xlsx
data_2023/homogenised_taxo.csv
data_2023/recap_tbl_EOT.csv
# deprecated
hand_cleaning_details/

R/deprecated
R/hypso_playaround.R
# other heavy stuff
BDT/
PPTEST/
former_results/
results/
results_EXTENDED/
paleoTropics/
Bash/deprecated/

